/*Kit
main background-color: #060606
text color, center background-color: #ffffff
button background-color: #ec5447;*/

/* @font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeueLTCYR-Roman.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
 } */

*{
  margin: 0;
  padding: 0;
  font-family: "Open San";
}

h1{
  /* Style for "Speak Room" */
  color: #ffffff;
  font-size: 62px;
  font-weight: 400;
  margin-left: -40px;
}

h2{
  /* Style for "Программы" */
  color: #161616;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  line-height: 51px;
  margin-top: 120px;
}

h3{
  color: #ffffff;
  font-size: 52px;
  font-weight: 700;
  line-height: 37.78px;
  text-align: center;
  margin-top: 64px;
}


h6{
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  /*use*/
  margin-top: 150px;
}

p{
  color: #ffffff;
  font-weight: 400;
}

ul{
  width: 82%;
  list-style-type: none;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.Wrapper {
  height: auto;
  width: 100%;
  background-color: #060606;
}

.Backgraung-header{
  width: 100%;
  height: 768px;
  background-image: url(img/big_foto_1.png);
  display: flex;
  /* flex-direction: column;
  align-items: center; */
}

.Container{
  height: 100%;
  max-width: 1640px;
  background-color: #ffffff;
  margin: auto;
  overflow: hidden;
}

header{
  width: 100%;
  height: 96px;
  box-shadow: 0 6px 8px rgba(0, 5, 13, 0.15);
  background-color: #3b3b3d;
  opacity: 0.55;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Top-menu{
  width: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Top-menu a {
  text-transform: uppercase;
}

.Bold{
  font-weight: 700;
}

.Main-text{
  width: 450px;
  margin-top: 230px;
  margin-left: 900px;
}

.Main-text-1{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 35px;
}

.Main-text-2{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*
.Main-button{
  width: 287px;
  height: 69px;
  border-radius: 10px;
  background-color: #ec5447;
  border: none;
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 23px;
  font-weight: 500;
  margin-top: 90px;
  margin-bottom: 40px;
} */

.Where{
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Where-block-1, .Where-block-2{
  width: 580px;
  height: 860px;
  /* border: 1px solid black; */
}

.Where-block-2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Where-main-text-1{
  color: #161616;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 20px;
}

.Where-text-1{
  color: #161616;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 20px;
  margin-left: 20px;
}

.Where-text-1 img{
  margin-right: 20px;
}

.Where-btn-box{
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 60px;
}

.Where-btn-1{
  width: 177px;
  height: 54px;
  background-color: #385d8d;
  border: 3px solid #385d8d;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.Where-btn-2{
  width: 215px;
  height: 54px;
  border: 3px solid #385d8d;
  color: #161616;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.Where-card{
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.Where-foto{
  width: 281px;
  height: 220px;
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: flex-end;
}

.Where-foto-1{
  background-image: url(img/foto_1.png);
}

.Where-foto-2{
  background-image: url(img/foto_2.png);
}

.Where-foto-3{
  background-image: url(img/foto_3.png);
}

.Where-foto-4{
  background-image: url(img/foto_4.png);
}

.Where-foto-date{
  width: 154px;
  height: 36px;
  background-color: #000000;
  opacity: 0.7;
  color: #fefefe;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding-top: 14px;
}

.Where-card-main-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Where-card-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
}

/*
.Where h3{
  color: #000000;
  margin: auto;
}

.Where-1{
  font-size: 43px;
  font-weight: 500;
  line-height: 75.15px;
  margin-top: 71px;
}

.Where-2{
  font-size: 43px;
  font-weight: 700;
  margin-top: 39px;
  margin-left: 20px;
  margin-right: 20px;
}

.Where-3{
  font-size: 34px;
  font-weight: 400;
  line-height: 75.15px;
  margin-left: 20px;
  margin-right: 20px;
}

.Where-container{
  height: 600px;
  width: 923px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  margin-top: 62px;
}

.Where-4{
  font-size: 40px;
  font-weight: 300;
  line-height: 54px;
  text-align: center;
  margin-top: 73px;
} */

.Whom{
  height: auto;
  width: 100%;
  background-image: url(img/backgraung-whom.png);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 86px;
}

.Whom-container{
  height: auto;
  width: 725px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  margin-top: 85px;
}

.Whom-box{
  height: 250px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Whom-box p{
  color: #fefefe;
  font-size: 25px;
  font-weight: 500;
  margin-top: 38px;
}

.Whom-img{
  height: 95px;
  width: 95px;
  background-position: center;
  background-repeat: no-repeat;
}

.Whom-box:nth-of-type(1) .Whom-img{
  background-image: url(img/whom-img-1.png);
}

.Whom-box:nth-of-type(2) .Whom-img{
  background-image: url(img/whom-img-2.png);
}

.Whom-box:nth-of-type(3) .Whom-img{
  background-image: url(img/whom-img-3.png);
}

.Whom-box:nth-of-type(4) .Whom-img{
  background-image: url(img/whom-img-4.png);
}

.Why{
  height: auto;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.Why h3{
  height: auto;
  color: #000000;
  margin-bottom: 60px;
}

.Why-1{
  height: auto;
  width: 720px;
  color: #000000;
  font-size: 32px;
  font-weight: 400;
  line-height: 41.03px;
  text-align: center;
  margin: auto;
}

.Why-2{
  height: auto;
  width: 100%;
  color: #000000;
  font-size: 24px;
  font-style: italic;
  line-height: 37.78px;
  margin-top: 110px;
  text-align: right;
}

.Why-3{
  height: auto;
  width: 100%;
  color: #000000;
  font-size: 26px;
  font-weight: 400;
  margin-top: 41px;
  text-align: right;
  margin-bottom: 31px;
}

.Sphere{
  height: 734px;
  width: 100%;
  background-image: url(img/backgraung-sphere.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sphere-container{
   height: 500px;
   width: 800px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   align-content: space-between;
   margin-top: 85px;
 }

.Sphere-box{
  height: 200px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.Sphere-img{
  height: 97px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
}

.Sphere-box:nth-of-type(1) .Sphere-img{
  background-image: url(img/sphere-img-1.png);
}

.Sphere-box:nth-of-type(2) .Sphere-img{
  background-image: url(img/sphere-img-2.png);
}

.Sphere-box:nth-of-type(3) .Sphere-img{
  background-image: url(img/sphere-img-3.png);
}

.Sphere-box:nth-of-type(4) .Sphere-img{
  background-image: url(img/sphere-img-4.png);
}

.Sphere-box:nth-of-type(5) .Sphere-img{
  background-image: url(img/sphere-img-5.png);
}

.Sphere-box:nth-of-type(6) .Sphere-img{
  background-image: url(img/sphere-img-6.png);
}

.Sphere-box p{
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  line-height: 33px;
  margin-top: 40px;
}

.Collaboration{
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Collaboration h3{
  color: #000000;
  margin-bottom: 80px;
}

.Collaboration li{
  width: 100%
}

.Point {
  width: 31px;
  height: 31px;
  background-image: url(img/point.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 7px;
  float: left;
  margin-right: 15px;
}

.Collaboration p{
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 10px;
}

.Collaboration .Main-button{
  margin-top: 20px;
}

.Speakers{
  height: auto;
  width: 100%;
  background-color: #f9f8f8;
  padding-top: 64px;
}

.Speakers h3{
  color: #000000;
  margin-top: 0;
  margin-bottom: 134px;
}

.Speakers-container{
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: space-around;
  margin-bottom: 60px;
}

.Speakers-box{
  height: 440px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Speakers-img{
  height: 319px;
  width: 319px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Speakers-box:nth-of-type(1) .Speakers-img{
  background-image: url(img/speaker-1.png);
}

.Speakers-box:nth-of-type(2) .Speakers-img{
  background-image: url(img/speaker-2.png);
}

.Speakers-box:nth-of-type(3) .Speakers-img{
  background-image: url(img/speaker-3.png);
}

.Speakers-box:nth-of-type(4) .Speakers-img{
  background-image: url(img/speaker-4.png);
}

.Speakers-box:nth-of-type(5) .Speakers-img{
  background-image: url(img/speaker-5.png);
}

.Speakers-box:nth-of-type(6) .Speakers-img{
  background-image: url(img/speaker-6.png);
}

.Speakers-box:nth-of-type(7) .Speakers-img{
  background-image: url(img/speaker-7.png);
}

.Speakers-box:nth-of-type(8) .Speakers-img{
  background-image: url(img/speaker-8.png);
}

.Speakers-box:nth-of-type(9) .Speakers-img{
  background-image: url(img/speaker-9.png);
}

.Speakers-box:nth-of-type(10) .Speakers-img{
  background-image: url(img/speaker-10.png);
}

.Speakers-box:nth-of-type(11) .Speakers-img{
  background-image: url(img/speaker-11.png);
}

.Speakers-box:nth-of-type(12) .Speakers-img{
  background-image: url(img/speaker-12.png);
}

.Speakers-box:nth-of-type(13) .Speakers-img{
  background-image: url(img/speaker-13.png);
}

.Speakers-box:nth-of-type(14) .Speakers-img{
  background-image: url(img/speaker-14.png);
}

.Speakers-box:nth-of-type(15) .Speakers-img{
  background-image: url(img/speaker-15.png);
}

.Speakers-box:nth-of-type(16) .Speakers-img{
  background-image: url(img/speaker-16.png);
}

.Speakers-name{
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  line-height: 37.78px;
  text-align: center;
}

.Speakers-company{
  color: #000000;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.Partners{
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Partners-container{
  height: auto;
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}

.Partners h3{
  color: #000000;
  margin-bottom: 80px;
}

.Partners img{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.Partners img:nth-of-type(1){
  width: 297px;
  height: 129px;
}

.Partners img:nth-of-type(2){
  width: 180px;
  height: 129px;
}

.Partners img:nth-of-type(3){
  width: 165px;
  height: 107px;
  margin-top: 20px;
}

.Partners img:nth-of-type(4){
  width: 253px;
  height: 122px;
}

.Partners img:nth-of-type(5){
  width: 129px;
  height: 130px;
}

.Partners img:nth-of-type(6){
  width: 232px;
  height: 60px;
  margin-top: 30px;
}

.Partners img:nth-of-type(7){
  width: 92px;
  height: 123px;
  margin-left: 20px;
  margin-right: 20px;
}

.Partners img:nth-of-type(8){
  width: 241px;
  height: 54px;
  margin-top: 30px;
}

.Partners img:nth-of-type(9){
  width: 142px;
  height: 142px;
}

.Timetable{
  height: 90px;
  width: 100%;
  background-color: #ec5447;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Timetable h3{
  color: #ffffff;
  font-size: 52px;
  font-weight: 500;
  line-height: 37.78px;
  margin-top: 0;
}

.Timetable-container{
  width: 1000px;
  color: #000000;
  font-size: 24px;
  line-height: 44px;
  margin: auto;
  margin-top: 87px;
  margin-bottom: 113px;
}

.Timetable-container span{
  font-weight: 600;
}

.Registration{
  height: auto;
  width: 100%;
  background-image: url(img/backgraung-registration.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Registration h3{
  color: #ffffff;
}

.Registration-1{
  color: #ffffff;
  font-size: 37px;
  line-height: 46.6px;
  margin-top: 65px;
}

.Registration-2{
  color: #ffffff;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 55px;
}

.Registration-3{
  color: #ffffff;
  font-size: 24px;
  margin-top: 22px;
}

.Registration form{
  height: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.Registration form input{
  height: 70px;
  max-width: 422px;
  border-radius: 6px;
  background-color: #878787;
  border: none;
  color: #ffffff !important;
  font-family: "Helvetica Neue";
  font-size: 23px;
  font-weight: 300;
  line-height: 47.97px;
  background-position: 8% 50%;
  background-repeat: no-repeat;
}

.Registration button{
  margin-top: 30px;
  margin-bottom: 30px;
}

#Input1{
  background-image: url(img/input-img-1.png);
}

#Input2{
  background-image: url(img/input-img-2.png);
}

#Input3{
  background-image: url(img/input-img-3.png);
}

#Input1::-webkit-input-placeholder, #Input2::-webkit-input-placeholder, #Input3::-webkit-input-placeholder {
  font-family: "Helvetica Neue" !important;
  font-size: 23px !important;
  color: #ffffff !important;
}

footer {
  height: 91px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.Footer-box{
  height: 35px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer p{
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 37.78px;
}

@media screen and (max-width: 1080px) {

  .Collaboration {
    height: auto;
  }

  .Why {
    width: auto;
  }

  .Backgraung-header h1{
    text-align: center;
  }

  .Main-button {
    margin-top: 50px;
  }

  .Where{
    height: auto;
  }

  .Where h3 {
    margin-top: 50px;
  }

  .Where-container {
    height: auto;
    width: 100%;
    justify-content: center;
  }

  .Sphere-container{
     width: 800px;
   }

  .Timetable-container {
    width: 980px;
  }

  .Why, .Why-1, .Why-2, .Why-3, .Timetable-container {
    width: 96%;
    margin-left: 2%;
  }

  .Partners {
    height: auto;
  }

  .Partners-container {
    height: auto;
  }

  .Partners img{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {

  h1, h2, h3, h6, .Timetable h3 {
    font-size: 35px;
  }

  .Whom-container{
    width: 90%;
  }

  .Sphere-container {
    height: auto;
    width: 100%;
  }

  .Sphere {
    height: auto;
  }

  .Sphere-box {
    width: 45%;
  }

  .Speakers {
    height: auto;
  }

  .Speakers-container {
    height: auto;
  }

  .Registration {
    width: 95%;
    padding-left: 3%;
    padding-right: 3%;
  }

  footer {
    width: 101%;
  }

  .Whom{
    background-image: none;
    background-color: #060606;
  }
}

@media screen and (max-width: 650px) {

.Sphere-box {
  width: 100%;
  }
}

@media screen and (max-width: 380px) {

  h1, h2, h3, h6, .Timetable h3 {
    font-size: 25px;
  }

  .Backgraung-header{
    padding-left: 2%;
    padding-right: 2%;
    height: 840px;
  }

  .Where {
    padding-left: 2%;
  }

  .Whom-container {
    width: 80%;
    margin-left: 10%;
  }

  .Sphere-box {
    margin-left: 30px;
  }

  .Partners {
    height: auto;
  }

 .Timetable-container, {
    width: 90%;
    padding-left: 14%;
  }

  .Where-container {
    overflow: hidden;
  }

  .Footer-box {
    width: 324px;
  }
}
