/*Kit
main background-color: #060606
text color, center background-color: #ffffff
button background-color: #ec5447;*/

/* @font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeueLTCYR-Roman.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
 } */

*{
  margin: 0;
  padding: 0;
  font-family: "Open San";
}

h1{
  /* Style for "Speak Room" */
  color: #ffffff;
  font-size: 62px;
  font-weight: 400;
  margin-left: -40px;
  font-family: Montserrat;
}

h2{
  /* Style for "Программы" */
  color: #161616;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  line-height: 51px;
  margin-top: 120px;
}

h3{
  color: #ffffff;
  font-size: 52px;
  /* font-weight: 700; */
  line-height: 37.78px;
  text-align: center;
  margin-top: 64px;
  font-family: Montserrat;
}


h6{
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  /*use*/
  margin-top: 150px;
}

p{
  color: #ffffff;
  font-weight: 400;
}

ul{
  width: 82%;
  list-style-type: none;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.Wrapper {
  height: auto;
  width: 100%;
  background-color: #060606;
}

.Backgraung-header{
  width: 100%;
  height: 768px;
  background-image: url(img/big_foto_1.png);
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  background-repeat: no-repeat;
  background-position: center;
}

.Container{
  height: 100%;
  /*max-width: 1640px;*/
  background-color: #ffffff;
  margin: auto;
  overflow: hidden;
}

header{
  width: 100%;
  height: 96px;
  box-shadow: 0 6px 8px rgba(0, 5, 13, 0.15);
  background-color: #3b3b3d;
  /*opacity: 0.55;*/
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}

.Top-menu{
  width: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Top-menu Link, .Top-menu div, .Top-menu a  {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.Top-menu Link:hover, .Top-menu div:hover, .Top-menu a:hover{
    color: #77b2fe;
}

.Top-submenu{
  width: 216px;
  height: 96px;
  box-shadow: 0 2px 3px rgba(0, 5, 13, 0.2);
  background-color: #385d8d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  position: fixed;
  top: 95px;
  opacity: 1 !important;
  padding-left: 20px;
  border-top:2px solid white;
}

.Top-submenu Link:hover{
  color: #77b2fe;
}

.Top-menu-mob{
  width: 105%;
  height: 190px;
  box-shadow: 0 2px 3px rgba(0, 5, 13, 0.2);
  background-color: #385d8d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 95px;
  left: -10px;
  opacity: 1 !important;
  /* padding-left: 20px; */
  border-top:2px solid white;
}

.Top-menu-mob a  {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  cursor: pointer;
}

.Top-menu-mob a:hover{
  color: #77b2fe;
}

.Top-submenu Link{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.Top-menu-mob Link:hover{
  color: #77b2fe;
}


.Bold{
  font-weight: 700;
  font-family: Montserrat;
}

.Main-text{
  width: 450px;
  margin-top: 230px;
  /* margin-left: 50%; */
  position: relative;
  left: 950px;
}

.Main-text-1{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 35px;
}

.Main-text-2{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*
.Main-button{
  width: 287px;
  height: 69px;
  border-radius: 10px;
  background-color: #ec5447;
  border: none;
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 23px;
  font-weight: 500;
  margin-top: 90px;
  margin-bottom: 40px;
} */

.Where{
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.Where-block-1{
  width: 530px;
  height: 860px;
  margin-left: 220px;
  /* border: 1px solid black; */
  padding-right: 80px;
}

.Where-block-2{
  width: 600px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Where-main-text-1{
  color: #161616;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 50px;
}

.Where-text-1{
  color: #161616;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 20px;
  margin-left: 20px;
  text-indent: -10px;
}

.Where-text-1 span{
  position: relative;
  right: 10px;
}

.Where-btn-box{
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 60px;
}

.Where-btn-1{
  width: 177px;
  height: 54px;
  background-color: #385d8d;
  border: 3px solid #385d8d;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.Where-btn-2{
  width: 215px;
  height: 54px;
  border: 3px solid #385d8d;
  color: #161616;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.Where-card{
  height: 400px;
  width: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.Where-foto{
  width: 281px;
  height: 220px;
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: flex-end;
}

.Where-foto-1{
  background-image: url(img/foto_1.png);
}

.Where-foto-2{
  background-image: url(img/foto_2.png);
}

.Where-foto-3{
  background-image: url(img/foto_3.png);
}

.Where-foto-4{
  background-image: url(img/foto_4.png);
}

.Where-foto-date{
  width: 154px;
  height: 36px;
  background-color: #000000;
  opacity: 0.7;
  color: #fefefe;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding-top: 14px;
}

.Where-card-main-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.Where-card-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
}

.Backgraung-nambers{
  width: 100%;
  height: 620px;
  background-image: url(img/big_foto_2.png);
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  /* flex-wrap: wrap; */
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
}

.Nambers-cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Namber-card{
  width: 200px;
  height: 210px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 100px;
}

.Nambers-card-main-text{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 62px;
  font-weight: 700;
  line-height: 55.71px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.Nambers-card-text{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.Mission{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
}

.Mission-text-1{
  color: #161616;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
}

.Mission-text-2{
  color: #161616;
  font-family: "Open Sans";
  font-size: 26px;
  font-style: italic;
  line-height: 28px;
}

.Сustomers{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Сustomers-block-1{
  min-width: 660px;
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #385d8d;
  padding-right: 30px;
}

.Сustomers-main-text{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 45px;
  text-align: right;
}

.Сustomers-text{
  width: 450px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}

.Сustomers-block-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
}

.Сustomers-block-2 img{
  margin: 22px;
}

footer {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  background-color: #1c1c1c;
}

.Footer-box{
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}

.Footer-social-box{
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer p{
  color: #e3e3e3;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.Main-сontacts{
  height: 425px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Main-сontacts-block{
  width: 480px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
}

.Backgraung-сontacts-1{
  min-width: 550px;
  width: 600px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #385d8d;
  padding-right: 30px;
}

.Backgraung-сontacts-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Backgraung-сontacts-text{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: right;
}

.Main-сontacts-card{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Main-сontacts-card img{
  height: 110px;
}

.Main-сontacts-main-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 51px;
  text-transform: uppercase;
}

.Main-сontacts-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.Rogov-header{
  width: 100%;
  height: 768px;
  background-image: url(img/rogov-1.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-top: 90px; */
}

.Rogov-main-text{
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 52px;
  font-weight: 400;
  line-height: 23.21px;
  margin-bottom: 40px;
}

.Rogov-text-1{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.Rogov-block{
  max-width: 1620px;
  width: 100%;
  height: 568px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Rogov-block-1{
  width: 50%;
  height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding-left: 250px; */
}

.Rogov-block-2{
  width: 50%;
  overflow: hidden;
}

.Rogov-block-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 180px;
  margin-right: 150px;
  text-indent: -10px;
}

.Rogov-block-text span{
  position: relative;
  right: 10px;
}

.Rogov-block-main-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 55px;
  margin-left: 180px;
}

.norm-text{
    text-indent: 0;
}

.Rogov-box-text{
  width: 500px;
}

.Rogov-block-1 span{
  float: left;
  margin-right: 10px;
}

.Rogov-block-white{
  height: 200px;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Rogov-block-white-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
  text-transform: uppercase;
}

.Rogov-gallery{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.Rogov-gallery-part{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Rogov-gallery-img{
  margin: 6px;
}

.Kater-header{
  width: 100%;
  height: 768px;
  background-image: url(img/kater-1.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-top: 90px; */
}

.Kater-main-text{
  line-height: 72px;
  margin-left: 230px;
}

.mob{
  display: none;
}

.For-icon{
  min-width: 70px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Nambers-card img{
  /* background-position: top; */
  /* background-size:   cover;
  width: 60px;
  height: 60px; */
}

.displayNone{
  display: none;
}

.Corp-header{
  width: 100%;
  height: 636px;
  background-image: url(img/corp-1.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-top: 90px; */
}

.Corp-box-text{
  width: 550px;
  height: 290px;
  box-shadow: 0 0 8px rgba(0, 5, 13, 0.15);
  background-color: #385d8d;
  padding: 10px 25px;
  margin-left: 250px;
  margin-top: 200px;
}

.Corp-main-text{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 300;
  line-height: 56px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 20px;
}

.Corp-text-1{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  /* text-align: justify; */
  margin-bottom: 35px;
}

.Corp-clints{
  width: 100%;
  height: 190px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Corp-clints p{
  color: #161616;
  font-family: "Open Sans";
  font-size: 32px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.Corp-clints-box{
  width: 1100px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px 40px 20px;
  margin: 0 auto;
}

.Corp-clints-box img {
  margin: 10px 20px 20px 20px;
  width: auto;
}

.Corp-tex-box-2{
  width: 100%;
  height: 160px;
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Corp-tex-box-2 p{
  width: 719px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.w610h70{
  width: 650px;
  height: auto;
  line-height: 44px !important;
}

.Corp-tex-box-3{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Corp-smoll-box{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Corp-smoll-box:nth-child(1){
  width: 500px;
}

.Corp-smoll-box:nth-child(2){
  border-left: solid 2px #385d8d;
}

.Corp-smoll-main-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
  margin-left: 60px;
}

.Corp-smoll-main-text-2{
  /* width: 364px;
  height: 80px; */
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 60px;
}

.Corp-smoll-main-text-2 span{
  font-weight: 600;
  font-family: "Open Sans";
  font-size: 16px;
}

.Corp-smoll-box ul{
  list-style-type: disc;
  margin-bottom: 60px;
  margin-left: 80px;
}

.Corp-smoll-box ul li{
  color: #000000;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.Corp-tex-box-4{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.btn-prod{
  width: 227px;
  height: 54px;
  border: 3px solid #385d8d;
  background-color: #385d8d;
  color: #ffffff;
  font-family: "Open Sans";
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}

.btn-cont{
  margin-top: 40px;
  border: 3px solid #ffffff;
}




/* ____________________Media___________________________________ */


 @media screen and (max-width: 1500px) {
   .Main-text {
     left: 900px;
   }

  .Where-block-1{
    margin: 0 0 0 120px;
  }

  .Where-block-2 {
    width: 600px;
  }

  .Сustomers-text {
      width: auto;
      padding-left: 40px;
    }
  }

 @media screen and (max-width: 1350px) {
   .Where-block-1{
     width: 430px;
     margin: 0 0 0 30px;
     padding-right: 30px;
   }
 }


@media screen and (max-width: 1100px) {

  .Main-text {
    left: 550px;
  }

  .Where {
     flex-direction: column;
     height: auto;
  }
  .Rogov-block {
    height: auto;
    flex-direction: column;
  }

  .Rogov-block-2 {
    width: auto;
  }

  .Rogov-block-1 {
    width: auto;
    height: auto;
    margin: 60px;
  }

  .Rogov-gallery {
    flex-direction: column;
  }

  .Сustomers {
    flex-direction: column;
  }

  .Backgraung-сontacts-1 {
    min-width: 550px;
    width: 100%;
  }

  .Backgraung-сontacts-1 {
    align-items: center;
  }

  .Сustomers-block-1 {
      min-width: auto;
      width: auto;
      height: 250px;
 }
}

@media screen and (max-width: 600px) {
  .mob{
    display: block;
  }

  .pc{
    display: none;
  }

  .gamb{
    position: fixed;
    left: 20px;
    cursor: pointer;
  }

  .Backgraung-header{
    width: 100%;
    height: 421px;
    background-image: url(img/back-mob.png);
    /* margin-top: 90px; */
  }

  .Main-text{
    color: black;
    position: static;
    margin: 500px 15px 15px 15px;
  }

  h1, .Main-text-1, .Main-text-2 {
    margin: 0;
    color: black;
  }

  .forText{
    height: 400px;
  }

  .Where-block-1{
    width: 100%;
    height: auto;
    padding-left: 15px;
  }

  .Where-block-2 {
    width: auto;
  }

  .Backgraung-nambers {
    width: 100%;
    height: 800px !important;
    background-image: url(img/numb-mob.png);
  }

  .Nambers-cards {
    flex-direction: column;
  }

  h3{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 40px;
  }

  .Namber-card img{
    width: 60px;
    height: 60px;
  }

  .Nambers-card-text{
    width: 230px;
  }

  .For-icon{
    position: relative;
    top: 100px;
    right: 120px;
  }

  .Nambers-card-main-text{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 40px;
    font-weight: 400;
    line-height: 55.71px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .Nambers-card-text {
    width: 240px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 140px;
    padding-right: 30px;
  }

  .Nambers-card {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .Namber-card{
    height: 160px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

.Mission-text-1{
  color: #1d1d1d;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.Mission-text-2{
  color: #1d1d1d;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}

.Mission {
    width: 100%;
    height: 250px;
  }

  .Сustomers-main-text{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }

  .Сustomers-block-1{
    height: 322px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .Сustomers-text{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 20px;
  }

  footer {
    height: 214px;
  }

  .Footer-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .Footer-box p{
    width: 220px;
    text-align: center;
  }

  .Main-сontacts {
      height: 650px;
      margin-top: 90px;
      margin-bottom: 80px;
  }

  .Main-сontacts-block {
      height: 550px;
      display: flex;
      flex-direction: column;
      margin-top: 90px;
      /* justify-content: space-around;
      align-items: center; */
    }

    .Main-сontacts-card img{
      width: 85px;
      height: 85px;
    }

    .Backgraung-сontacts-1{
      width: 100%;
      min-width: 100%;
      height: 270px;
    }

    .Backgraung-сontacts-text{
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 30px;
      font-weight: 400;
      line-height: 38px;
      text-align: center;
    }

  .Rogov-header{
    width: 100%;
    height: 488px;
    background-image: url(img/rogov-mob-1.png);
  }

  /* .Main-text{
    width: 450px;
    margin-top: 230px;
    margin-left: 50%;
  } */

.Rogov-main-text, .Rogov-text-1{
  margin: 0;
  color: black;
}

.Rogov-main-text{
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  margin: 20px 0 20px 0;

}

.Rogov-text-1{
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.RogovForText{
  height: 200px;
  width: 100%;
}

.Rogov-block-1 {
  height: 150px;
  min-width: 100%;
  width: 100%;
  height: 211px;
  background-color: #f1f1f1;
  padding: 20px;
  margin: 0;
}

.Rogov-block-text{
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
}

.Rogov-block-mob{
  flex-direction: column-reverse;
}

.Rogov-block-mob-1, .Kater-block-mob-1{
  background-color: #51709b;
}


.Rogov-block-mob-1 p, .Kater-block-mob-1 p{
  color: #ffffff;
}

.Kater-block-mob-1{
  height: auto;
}

.Rogov-block-main-text{
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 30px;
}

.Kater-header{
  height: 488px;
  background-image: url(img/kater-mob-1.png);
  }



}
