/*Kit
main background-color: #060606
text color, center background-color: #ffffff
button background-color: #ec5447;*/

/* @font-face {
  font-family: "Helvetica Neue";
  src: url("fonts/HelveticaNeueLTCYR-Roman.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
 } */

*{
  margin: 0;
  padding: 0;
  font-family: "Open San";
}

h1{
  /* Style for "Speak Room" */
  color: #ffffff;
  font-size: 62px;
  font-weight: 400;
  margin-left: -40px;
  font-family: Montserrat;
}

h2{
  /* Style for "Программы" */
  color: #161616;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  line-height: 51px;
  margin-top: 120px;
}

h3{
  color: #ffffff;
  font-size: 52px;
  /* font-weight: 700; */
  line-height: 37.78px;
  text-align: center;
  margin-top: 64px;
  font-family: Montserrat;
}


h6{
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  /*use*/
  margin-top: 150px;
}

p{
  color: #ffffff;
  font-weight: 400;
}

ul{
  width: 82%;
  list-style-type: none;
}

button{
  cursor: pointer;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.Wrapper {
  height: auto;
  width: 100%;
  background-color: #060606;
}

.Backgraung-header{
  width: 100%;
  height: 768px;
  background-image: url(img/big_foto_1.png);
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  background-repeat: no-repeat;
  background-position: center;
}

.Container{
  height: 100%;
  /*max-width: 1640px;*/
  background-color: #ffffff;
  margin: auto;
  overflow: hidden;
}

header{
  width: 100%;
  height: 96px;
  box-shadow: 0 6px 8px rgba(0, 5, 13, 0.15);
  background-color: #3b3b3d;
  /*opacity: 0.55;*/
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}

.Top-menu{
  width: 430px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.Top-menu Link, .Top-menu div, .Top-menu a  {
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.Top-submenu{
  width: 216px;
  height: 96px;
  box-shadow: 0 2px 3px rgba(0, 5, 13, 0.2);
  background-color: #385d8d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 95px;
  opacity: 1 !important;
}

.Top-submenu Link{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.Bold{
  font-weight: 700;
  font-family: Montserrat;
}

.Main-text{
  width: 450px;
  margin-top: 230px;
  margin-left: 60%;
}

.Main-text-1{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 35px;
}

.Main-text-2{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

/*
.Main-button{
  width: 287px;
  height: 69px;
  border-radius: 10px;
  background-color: #ec5447;
  border: none;
  color: #ffffff;
  font-family: "Helvetica Neue";
  font-size: 23px;
  font-weight: 500;
  margin-top: 90px;
  margin-bottom: 40px;
} */

.Where{
  height: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Where-block-1, .Where-block-2{
  width: 600px;;
  height: 860px;
  /* border: 1px solid black; */
}

.Where-block-2{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.Where-main-text-1{
  color: #161616;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-left: 20px;
}

.Where-text-1{
  color: #161616;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-top: 20px;
  margin-left: 20px;
}

.Where-text-1 img{
  margin-right: 20px;
}

.Where-btn-box{
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-left: 60px;
}

.Where-btn-1{
  width: 177px;
  height: 54px;
  background-color: #385d8d;
  border: 3px solid #385d8d;
  text-align: center;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.Where-btn-2{
  width: 215px;
  height: 54px;
  border: 3px solid #385d8d;
  color: #161616;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.Where-card{
  height: 400px;
  width: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.Where-foto{
  width: 281px;
  height: 220px;
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: flex-end;
}

.Where-foto-1{
  background-image: url(img/foto_1.png);
}

.Where-foto-2{
  background-image: url(img/foto_2.png);
}

.Where-foto-3{
  background-image: url(img/foto_3.png);
}

.Where-foto-4{
  background-image: url(img/foto_4.png);
}

.Where-foto-date{
  width: 154px;
  height: 36px;
  background-color: #000000;
  opacity: 0.7;
  color: #fefefe;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  padding-top: 14px;
}

.Where-card-main-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.Where-card-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  text-align: center;
}

.Backgraung-nambers{
  width: 100%;
  height: 620px;
  background-image: url(img/big_foto_2.png);
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  /* flex-wrap: wrap; */
  /*background-repeat: no-repeat;*/
  /*background-position: center;*/
}

.Nambers-cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Namber-card{
  width: 200px;
  height: 210px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 100px;
}

.Nambers-card-main-text{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 62px;
  font-weight: 700;
  line-height: 55.71px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.Nambers-card-text{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.Mission{
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
}

.Mission-text-1{
  color: #161616;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
}

.Mission-text-2{
  color: #161616;
  font-family: "Open Sans";
  font-size: 26px;
  font-style: italic;
  line-height: 28px;
}

.Сustomers{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Сustomers-block-1{
  min-width: 660px;
  width: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #385d8d;
  padding-right: 30px;
}

.Сustomers-main-text{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 45px;
  text-align: right;
}

.Сustomers-text{
  width: 450px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: right;
}

.Сustomers-block-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
}

.Сustomers-block-2 img{
  margin: 22px;
}

footer {
  height: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  background-color: #1c1c1c;
}

.Footer-box{
  width: 650px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
}

.Footer-social-box{
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer p{
  color: #e3e3e3;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.Main-сontacts{
  height: 425px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Main-сontacts-block{
  width: 480px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 140px;
}

.Backgraung-сontacts-1{
  min-width: 550px;
  width: 600px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: #385d8d;
  padding-right: 30px;
}

.Backgraung-сontacts-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.Backgraung-сontacts-text{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  text-align: right;
}

.Main-сontacts-card{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Main-сontacts-card img{
  height: 110px;
}

.Main-сontacts-main-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  line-height: 51px;
  text-transform: uppercase;
}

.Main-сontacts-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.Rogov-header{
  width: 100%;
  height: 768px;
  background-image: url(img/rogov-1.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}

.Rogov-main-text{
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 52px;
  font-weight: 400;
  line-height: 23.21px;
  margin-bottom: 40px;
}

.Rogov-text-1{
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

.Rogov-block{
  max-width: 1620px;
  width: 100%;
  height: 568px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.Rogov-block-1{
  width: 50%;
  height: 568px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding-left: 250px; */
}

.Rogov-block-2{
  width: 50%;
  overflow: hidden;
}


.Rogov-block-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 180px;
  margin-right: 150px;
}

.Rogov-block-main-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 55px;
  margin-left: 180px;
}

.Rogov-box-text{
  width: 500px;
}

.Rogov-block-1 span{
  float: left;
  margin-right: 10px;
}

.Rogov-block-white{
  height: 200px;
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Rogov-block-white-text{
  color: #161616;
  font-family: "Open Sans";
  font-size: 42px;
  font-weight: 400;
  line-height: 52px;
  text-transform: uppercase;
}


.Rogov-gallery{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.Rogov-gallery-part{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Rogov-gallery-img{
  margin: 6px;
}

.Kater-header{
  width: 100%;
  height: 768px;
  background-image: url(img/kater-1.png);
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
}

.Kater-main-text{
  line-height: 72px;
  margin-left: 230px;
}

.mob{
  display: none;
}


.For-icon{
  min-width: 70px;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Nambers-card img{
  /* background-position: top; */
  /* background-size:   cover;
  width: 60px;
  height: 60px; */
}

/* ____________________Media___________________________________ */







 @media screen and (max-width: 1500px) {
   .Main-text {
     margin-left: 50%;
   }

  .Where-block-1, .Where-block-2 {
    width: auto;
    height: auto;
    margin: 0 auto 60px auto;
  }

  .Where-block-2 {
    width: 600px;
  }

  .Сustomers-text {
      width: auto;
      padding-left: 40px;
    }
  }

@media screen and (max-width: 1100px) {

  .Where {
   flex-direction: column;
   height: auto;
  }
  .Rogov-block {
    height: auto;
    flex-direction: column;
  }

  .Rogov-block-2 {
    width: auto;
  }

  .Rogov-block-1 {
    width: auto;
    height: auto;
    margin: 60px;
  }

  .Rogov-gallery {
    flex-direction: column;
  }

  .Сustomers {
    flex-direction: column;
  }

  .Backgraung-сontacts-1 {
    min-width: 550px;
    width: 100%;
  }

  .Backgraung-сontacts-1 {
    align-items: center;
  }

  .Сustomers-block-1 {
      min-width: auto;
      width: auto;
      height: 250px;
 }
}

@media screen and (max-width: 400px) {
  .mob{
    display: block;
  }

  .pc{
    display: none;
  }

  .gamb{
    position: fixed;
    left: 20px;
  }

  .Backgraung-header{
    width: 100%;
    height: 421px;
    background-image: url(img/back-mob.png);
    margin-top: 90px;
  }

  .Main-text{
    color: black;
    margin: 500px 15px 15px 15px;
  }

  h1, .Main-text-1, .Main-text-2 {
    margin: 0;
    color: black;
  }

  .forText{
    height: 400px;
  }

  .Where-block-1{
    padding-left: 15px;
  }

  .Where-block-2 {
    width: auto;
  }

  .Backgraung-nambers {
    width: 100%;
    height: 800px !important;
    background-image: url(img/numb-mob.png);
  }

  .Nambers-cards {
    flex-direction: column;
  }

  h3{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 40px;
  }

  .Namber-card img{
    width: 60px;
    height: 60px;
  }

  .Nambers-card-text{
    width: 230px;
  }

  .For-icon{
    position: relative;
    top: 130px;
    right: 120px;
  }

  .Nambers-card-main-text{
    color: #ffffff;
    font-family: "Open Sans - Semibold";
    font-size: 40px;
    font-weight: 400;
    line-height: 55.71px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .Nambers-card-text {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 140px;
  }

  .Nambers-card {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .Namber-card{
    height: 160px;
    margin-top: 1px;
    margin-bottom: 1px;
  }

.Mission-text-1{
  color: #1d1d1d;
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.Mission-text-2{
  color: #1d1d1d;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
}

.Mission {
    width: 100%;
    height: 250px;
  }

  .Сustomers-main-text{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }

  .Сustomers-block-1{
    height: 322px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .Сustomers-text{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 20px;
  }

  footer {
    height: 214px;
  }

  .Footer-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .Footer-box p{
    width: 220px;
    text-align: center;
  }








}

 /* @media screen and (max-width: 1500px) {
   .Main-text {
     margin-left: 50%;
   } */

/*  .Collaboration {
    height: auto;
  }

  .Why {
    width: auto;
  }

  .Backgraung-header h1{
    text-align: center;
  }

  .Main-button {
    margin-top: 50px;
  }

  .Where{
    height: auto;
  }

  .Where h3 {
    margin-top: 50px;
  }

  .Where-container {
    height: auto;
    width: 100%;
    justify-content: center;
  }

  .Sphere-container{
     width: 800px;
   }

  .Timetable-container {
    width: 980px;
  }

  .Why, .Why-1, .Why-2, .Why-3, .Timetable-container {
    width: 96%;
    margin-left: 2%;
  }

  .Partners {
    height: auto;
  }

  .Partners-container {
    height: auto;
  }

  .Partners img{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 800px) {

  h1, h2, h3, h6, .Timetable h3 {
    font-size: 35px;
  }

  .Whom-container{
    width: 90%;
  }

  .Sphere-container {
    height: auto;
    width: 100%;
  }

  .Sphere {
    height: auto;
  }

  .Sphere-box {
    width: 45%;
  }

  .Speakers {
    height: auto;
  }

  .Speakers-container {
    height: auto;
  }

  .Registration {
    width: 95%;
    padding-left: 3%;
    padding-right: 3%;
  }

  footer {
    width: 101%;
  }

  .Whom{
    background-image: none;
    background-color: #060606;
  }
}

@media screen and (max-width: 650px) {

.Sphere-box {
  width: 100%;
  }
}

@media screen and (max-width: 380px) {

  h1, h2, h3, h6, .Timetable h3 {
    font-size: 25px;
  }

  .Backgraung-header{
    padding-left: 2%;
    padding-right: 2%;
    height: 840px;
  }

  .Where {
    padding-left: 2%;
  }

  .Whom-container {
    width: 80%;
    margin-left: 10%;
  }

  .Sphere-box {
    margin-left: 30px;
  }

  .Partners {
    height: auto;
  }

 .Timetable-container{
    width: 90%;
    padding-left: 14%;
  }

  .Where-container {
    overflow: hidden;
  }

  .Footer-box {
    width: 324px;
  }
} */
